<configuration>
	<configSections>
		<!-- Entity Framework configuration -->
		<section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
	</configSections>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="AppDbContext"
			 connectionString="Data Source=P140\\SQLEXPRESS;Database=LibrarySystemDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!-- Other configurations -->
</configuration>
